.slate-mode {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slate-mode-content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.slate-mode-sidebar {
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.slate-mode-main {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
